<form *ngIf="!fileUploaded" #e="ngForm" (ngSubmit)="uploadFile(e)" novalidate>
    <div class="form-group">
        <label for="PDFUpload" ng-change='uploadFile($event)'>Upload PDF</label>
        <input type="file" name="file" [(ngModel)]="rawPdf" class="form-control-file" id="PDFUpload">
    </div>
    <button>Submit</button>
</form>
<form *ngIf='fileUploaded'>
    <div *ngFor="let item of dummyPDFObj | keyvalue: originalOrder">
        <div>

        </div>
        <div class="form-group" *ngIf="item.value[0].type == 'string'">
            <label for="item.key">{{item.key}}</label>
            <input type="text" class="form-control" id="item.key" placeholder="{{item.key}}">
        </div>
        <div class="form-group col-md-4" *ngIf="item.value[0].type == 'select'">
            <label for="item.key">{{item.key}}</label>
            <select id="item.key" class="form-control">
                <option *ngFor="let option of item.value[0].options">{{option}}</option>
            </select>
        </div>
        <div class="form-group" *ngIf="item.value[0].type == 'boolean'">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="item.key">
                <label class="form-check-label" for="item.key">
                    {{item.key}}
                </label>
            </div>
        </div>
    </div>
</form>